sectionContent,section,div,article,img,ul,li,p{
	width: 60%;
	background: #DE8C12;
	margin: 32px;
	border: 32px solid#11BD92;
	padding: 32px;
	font-family: Comic Sans MS;
	font-size: 2em;
	color: #DEBF12;
}


