.sectionContent{
	width: 60%;
	background: #DE8C12;
	margin: 32px;
	border: 32px solid#11BD92;
	padding: 32px;
	font-family: Comic Sans MS;
	font-size: 2em;
	color: #DEBF12;
	font-size: 1.2em;
	line-height: 1.4em;
}
.p{
	font-size: 0.8em;
	line-height: 1.3em;
}
#Me {
	width: 45%;
	height: 45%;
}
#dreamJob {
	width: 45%;
	height: 45%;
}
#16 personalitys {
	width: 45%;
	height: 45%;
}
#eduplaner {
	width: 45%;
	height: 45%;
}
#1.VIA Character strengths {
	width: 45%;
	height: 45%;
}
#ItemDrops {
	width: 45%;
	height: 45%;
}
#Characters {
	width: 45%;
	height: 45%;
}
#Maps {
	width: 45%;
	height: 45%;
}

