.sectionContent{
	width: 60%;
	background: #0F53BA;
	margin: 32px;
	border: 32px solid#8134AD;
	padding: 32px;
	font-size: 1.8em;
	color: #DEBF12;
	line-height: 1.4em;
}

html, body {background: #0A0A0A; font-family: "Times New Roman", "Times", serif; font-size: 14px; color: #DEBD12;}

.p{
	font-size: 0.8em;
	line-height: 1.3em;
}
#Me img{
	width: 12.5%;
	height: auto;
}
#dreamJob img{
	width: 30%;
	height: auto;
}
#personalitys img{
	width: 30%;
	height: auto;
}
#eduplaner img{
	width: 30%;
	height: auto;
}
#VIACharacterstrengths img{
	width: 30%;
	height: auto;
}
#Maps img{
	width: 20%;
	height: 20%;
	float: right;
}
#Characters img{
	width: 20%;
	height: 20%;
	float: right;
}
#ItemDrops img{
	width: 20%;
	height: 20%;
	float: right;
}
#cv {
	width: 85%;
	max-width: 775px;
	margin: 25x auto;
}


