
<!DOCTYPE html>
<html>
<head>
  <title>CC2022 Assignment Three</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> </head>
<body>
<h1>Deep Stone Crypt</h1>
<h2>Encounter: Entry</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/DSC-1.jpeg" width="331" height="854"><br>
<h2>Encounter: Security</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/DSC-2.jpeg" width="858" height="684"><br>
<img src="https://d2imagebucket.s3.amazonaws.com/DSC-3.jpeg" width="858" height="684"><br>
<h2>Encounter: Replication</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/DSC-4.jpeg" width="858" height="684"><br>
<img src="https://d2imagebucket.s3.amazonaws.com/DSC-5.jpeg" width="858" height="684"><br>
<h2>Encounter: Disarmanment</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/DSC-6.jpeg" width="858" height="684"><br>
<h2>Encounter: Abomination</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/DSC-7.jpeg" width="858" height="684"><br>
</body>
</html>


