
<!DOCTYPE html>
<html>
<head>
  <title>CC2022 Assignment Three</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> </head>
<body>
<h1>Garden of Salvation</h1>
<h2>Encounter: Evade</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/GOS-1.jpeg" width="920" height="610"><br>
<h2>Encounter: Summon</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/GOS-2.jpeg" width="750" height="750"><br>
<h2>Encounter: Consecrated Mind</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/GOS-3.jpeg" width="850" height="750"><br>
<h2>Encounter: Sanctified Mind</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/GOS-4.jpeg"><br>
</body>
</html>


