
<!DOCTYPE html>
<html>
<head>
  <title>CC2022 Assignment Three</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> </head>
<body>
<h1>Last Wish</h1>
<h2>Wish Wall: Wishes</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/LW-1.jpeg"><br>
<h2>Encounter: Kali the Corrupted</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/LW-2.jpeg"><br>
<h2>Encounter: Shuro Chi the Corrupted</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/LW-3.jpeg"><br>
<h2>Encounter: The Vault</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/LW-4.jpeg"><br>
<h2>Encounter: Riven of a Thousand Voices</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/LW-5.jpeg"><br>
<h2>Encounter: Queens Walk</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/LW-6.jpeg"><br>
</body>
</html>


