
<!DOCTYPE html>
<html>
<head>
  <title>CC2022 Assignment Three</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> </head>
<body>
<h1>Vault of Glass</h1>
<h2>Encounter: Conflux & Oracle</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOG-1.jpeg"><br>
<h2>Encounter: Templar</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOG-2.jpeg"><br>
<h2>Encounter: Gatekeeper</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOG-3.jpeg"><br>
<h2>Encounter: Atheon</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOG-4.jpeg"><br>
</body>
</html>


