<!DOCTYPE html>
<html>
<head>
  <title>CC2022 Assignment Three</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> </head>
<body>
<h1>Vow of The Deciple</h1>
<h2>Icon Key For Raid: </h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOTD-1.jpeg" width="550" height="850"><br>
<h2>Encounter: Acquisition</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOTD-2.jpeg" width="739" height="415"><br>
<h2>Encounter: Exhibition</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOTD-3.jpeg" width="640" height="563"><br>
<h2>Encounter: Rhulk</h2>
<img src="https://d2imagebucket.s3.amazonaws.com/VOTD-4.jpeg" width="455" height="674"><br>
</body>
</html>
